{{/* Parse toc.yaml and store the resulting map to $scratch */}}
{{ $scratch := partialCached "utils/tocparser.html" . . }}
{{ $ctx := . }}

{{/* Get the name of the first section */}}
{{ $firstSection := (index ($scratch.GetSortedMapValues "sections") 0).title }}

{{/* Render the top-nav in sidebar for small screens */}}
<nav class="text-sm pb-4 gap-4 flex md:hidden flex-col justify-evenly">
  <div class="text-gray-light dark:text-gray-dark">Main sections</div>
  {{ range site.Menus.main }}
  <div class="pl-2 underline-offset-8 decoration-2 hover:underline decoration-blue-light dark:decoration-blue-dark hover:opacity-75
      {{- if eq $firstSection .Name }}
        underline
      {{- end }}">
    <a href="{{ .URL }}">{{ .Name }}</a>
  </div>
  {{ end }}
</nav>

{{ if $firstSection }}
{{ $allSections := slice }}
{{ range $i, $e := ($scratch.GetSortedMapValues "sections") }}
{{ $allSections = $allSections | append (index $e "title") }}
{{ end }}

<nav id="sectiontree" class="text-sm flex flex-col">
  <div class="block py-4 md:hidden text-gray-light dark:text-gray-dark">This section</div>
  {{/* The current page is in the table of contents */}}
  <ul>
    {{/* Walk the toc.yaml nodes under the current main section */}}
    {{ range (index site.Data.toc $firstSection) }}
    {{ template "tocRender" (dict "ctx" $ctx "entry" . "sections" $allSections) }}
    {{ end }}
  </ul>
</nav>
{{ end }}

{{/* Recursive template for sidebar items */}}
{{ define "tocRender" }}
{{ $ctx := .ctx }}
{{ $sections := .sections }}
{{ if .entry.sectiontitle }}
{{ $expanded := in $sections .entry.sectiontitle }}
{{/* .entry is a section */}}
<li>
  {{/* See event handler in assets/js/src/sidebar.js */}}
  <button class="rounded px-4 sidebar-hover w-full flex items-center justify-between">
    <span class="py-2 truncate flex items-center gap-2">
      {{ markdownify .entry.sectiontitle }}
    </span>
    <span class="icon-svg {{ if $expanded }}hidden{{ end }}">
      {{ partialCached "icon" "expand_more" "expand_more" }}
    </span>
    <span class="icon-svg {{ if not $expanded }}hidden{{ end }}">
      {{ partialCached "icon" "expand_less" "expand_less" }}
    </span>
  </button>
  <ul class="{{if not $expanded}}hidden {{end}}ml-3">
    {{ range .entry.section }}
    {{ template "tocRender" (dict "entry" . "ctx" $ctx "sections" $sections ) }}
    {{ end }}
  </ul>
</li>
{{ else }}
{{/* .entry is a page */}}
{{ $isCurrent := eq (urls.Parse $ctx.Permalink).Path .entry.path }}
<li class="pl-4 sidebar-hover rounded
  {{ if $isCurrent }} bg-gray-light-200 dark:bg-gray-dark-200{{ end }}">
  <a {{ if $isCurrent }}aria-current="page" {{ end }} class="py-2 w-full truncate block"
      href="{{ .entry.path }}" title="{{ markdownify .entry.title }}"
      ><span class="flex items-center gap-2">{{ markdownify .entry.title }}</span>
  </a>
</li>
{{ end }}
{{ end }}

<!-- Add this section to your sidebar.html file -->

<!-- Add this section to your sidebar.html file -->

<div class="filter-sidebar mt-4">
  <h3 class="text-lg font-bold mb-2">Filters</h3>

  <div class="filter-section">
    <h4 class="text-md font-bold mb-1">Product</h4>
    <div class="filter-item mb-1">
      <input type="checkbox" id="filter1" name="Docker Desktop" class="mr-2">
      <label for="docker-desktop"  class="text-sm">Docker Desktop</label>
    </div>
    <div class="filter-item mb=1">
      <input type="checkbox" id="filter2" name="Image Deep Dive" class="mr-2">
      <label for="image-deep-dive" class="text-sm">Image Deep Dive</label>
    </div>
    <div class="filter-item">
      <input type="checkbox" id="filter3" name="Compose" class="mr-2" >
      <label for="compose" class="text-sm" >Docker Compose</label>
    </div>
  </div>

  <div class="filter-section">
    <h4 class="text-md font-bold mb-1">Roles</h4>
    <div class="filter-item mb-1">
      <input type="checkbox" id="filter4" name="Admin" class="mr-2">
      <label for="admin"  class="text-sm">Admin</label>
    </div>
    <div class="filter-item mb=1">
      <input type="checkbox" id="filter5" name="DevOps" class="mr-2">
      <label for="devops" class="text-sm">DevOps</label>
    </div>
    <div class="filter-item">
      <input type="checkbox" id="filter6" name="DevSecOps" class="mr-2" >
      <label for="devsecops" class="text-sm" >DevSecOps</label>
    </div>
  </div>

  <div class="filter-section">
    <h4 class="text-md font-bold mb-1">Level</h4>
    <div class="filter-item mb-1">
      <input type="checkbox" id="filter7" name="Beginners" class="mr-2">
      <label for="beginners"  class="text-sm">Beginners</label>
    </div>
    <div class="filter-item mb=1">
      <input type="checkbox" id="filter8" name="Intermediate" class="mr-2">
      <label for="intermediate" class="text-sm">Intermediate</label>
    </div>
    <div class="filter-item">
      <input type="checkbox" id="filter9" name="Advanced" class="mr-2" >
      <label for="advanced" class="text-sm" >Advanced</label>
    </div>
  </div>
</div>

